<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="CreateNewCustomer">
        <classes>
            <class name="tests.CreateNewCustomer"/>
        </classes>
    </test>
    <test name="DeleteCustomer">
        <classes>
            <class name="tests.DeleteCustomer"/>
        </classes>
    </test>
    <test name="SortCustomersTable">
        <classes>
            <class name="tests.SortCustomersTable"/>
        </classes>
    </test>
</suite>